# Configurações de Banco de Dados (Docker Default)
DATABASE_URL="postgresql://user:password@localhost:5432/price_tracker"

# Configurações de Cache e Mensageria (Docker Default)
REDIS_URL="redis://localhost:6379/0"

# Credenciais Externas
FIRECRAWL_API_KEY=""
